{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    Author: {{ object.author }}<br/>
    {{ object.text }}<br/>
    {{ object.pub_date | date:"Y - m - d"}}<br/>
    {{ object.is_published }}<br/>
    {% url "news:detail" pk=object.pk %}<br/>
    {% if user == object.author %}<a href="{% url 'news:update' pk=object.pk %}">Edit article</a>{% endif %}
    <h3>Comments</h3>
    {% for comment in object.comment_set.all %}
        <div>{{ comment.text }}</div>
    {% endfor %}
{#    TODO: add create comment form     #}
{% endblock %}