{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Создать статью
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_{{ aform.title.name }}">{{ aform.title.label }}</label>
            {{ aform.title|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label" for="id_{{ aform.text.name }}">{{ aform.text.label }}</label>
            {{ aform.text|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label class="control-label" for="id_{{ aform.tags.name }}">{{ aform.tags.label }}</label>
            {{ aform.tags|add_class:"form-control tags-select"}}
        </div>
        <div class="checkbox">
            <label>{{ aform.is_published}} {{ aform.is_published.label }}</label>
        </div>
        {# TODO: add inline error messages handling #}
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $("nav li").removeClass('active');
        $("#nav-create-btn").toggleClass('active');
        $(".tags-select").chosen();
    </script>
{% endblock %}