<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-chevron-down"/>
            </button>
            <div class="navbar-brand"><span class="glyphicon glyphicon-tree-deciduous"></span></div>
            <div class="navbar-brand"><%= brand %></div>
        </div>
        <nav class="navbar-collapse collapse navbar-left">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" class="btn">Home <span class="glyphicon glyphicon-home"/></a></li>
                <li><a href="/admin" class="btn">Admin</a></li>
            </ul>
        </nav>
        <div class="navbar-right navbar-text">
            Hello, user!
        </div>
    </div>
</div>
