<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News site (django tutorial)</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
</head>
<body>
    <h1>ШАПКА</h1>
    <h1>МЕНЮ</h1>
    {% if user.is_authenticated %}
        Hello, {{ user }}! <a href="{% url 'logout' %}">logout</a>
    {% else %}
        You are not logged in. Click <a href="{% url 'login' %}">here</a> to log in.
    {% endif %}
    <h2>{% block title %}{% endblock %}</h2>
    <div>{% block content %}{% endblock %}</div>
    <h1>ПОДВАЛ</h1>
    <script>
        $.ajax({url: "/techsupport/",
            cache: false,
            success: function(html){
                $("#results").append(html);
            }
        });
    </script>
    <div id="results"></div>
{#    {% include "techsupport/report_error.html" %}#}
</body>
</html>